<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bosch_ImportData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Bosch_ImportData.Properties.Settings>
            <setting name="tempVaultRootPath" serializeAs="String">
                <value>C:\Temp1\VaultWorkFolderBosch\</value>
            </setting>
            <setting name="VaultRootPath" serializeAs="String">
                <value>C:\VaultWorkFolderBosch\</value>
            </setting>
            <setting name="ProjectRootPath" serializeAs="String">
                <value>Sites\CtP_TEF\project\</value>
            </setting>
            <setting name="AtmoRootPath" serializeAs="String">
                <value>ATMOLIB\</value>
            </setting>
            <setting name="ContentCenterRootPath" serializeAs="String">
                <value>ContentCenter\</value>
            </setting>
            <setting name="Catalog" serializeAs="String">
                <value>ATMOLIB\Library\Catalog\</value>
            </setting>
            <setting name="ProdutosBosch" serializeAs="String">
                <value>ATMOLIB\Produtos Bosch\</value>
            </setting>
            <setting name="EnglishCC" serializeAs="String">
                <value>ContentCenter\en-US\</value>
            </setting>
            <setting name="PortugueseCC" serializeAs="String">
                <value>ContentCenter\pt-BR\</value>
            </setting>
        </Bosch_ImportData.Properties.Settings>
    </userSettings>
</configuration>