<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Bosch_ImportData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		
		</sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Bosch_ImportData.Properties.Settings>
            <setting name="tempVaultRootPath" serializeAs="String">
                <value>C:\Temp1\VaultWorkFolderBosch\</value>
            </setting>
            <setting name="Project" serializeAs="String">
                <value>Sites\CtP_TEF\project\</value>
            </setting>
            <setting name="AtmoRootPath" serializeAs="String">
                <value>ATMOLIB\</value>
            </setting>
            <setting name="ContentCenterRootPath" serializeAs="String">
                <value>ContentCenter\</value>
            </setting>
            <setting name="Catalog" serializeAs="String">
                <value>ATMOLIB\Library\Catalog\</value>
            </setting>
            <setting name="ProdutosBosch" serializeAs="String">
                <value>ATMOLIB\Produtos Bosch\</value>
            </setting>
            <setting name="EnglishCC" serializeAs="String">
                <value>ContentCenter\en-US\</value>
            </setting>
            <setting name="PortugueseCC" serializeAs="String">
                <value>ContentCenter\pt-BR\</value>
            </setting>
            <setting name="VaultDB" serializeAs="String">
                <value />
            </setting>
            <setting name="VaultSRV" serializeAs="String">
                <value />
            </setting>
            <setting name="VaultUser" serializeAs="String">
                <value />
            </setting>
            <setting name="VaultPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultIPJ" serializeAs="String">
                <value>C:\KeepCAD\ImportacaoArquivos\StandardIPJ.ipj</value>
            </setting>
        </Bosch_ImportData.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>